<% provide(:title, @village.name) %>
<%= form_for(@village, remote: true) do |f| %>
<ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header active"><i class="material-icons">supervisor_account</i><span id="count"><%= @users.count%></span> Players</div>
      <div class="collapsible-body">
				<ul class="collection" id="users">
					<%= render @users %>
				</ul>
			</div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">settings</i>Settings</div>
      <div class="collapsible-body">
				<ul class="collection" id="settings">
					<% @village_settings.each do |villageSetting| %>
					<%= f.fields_for :villageSetting do |h|%>
					<li class="collection-item  avatar">
            <%= get_job_icon(villageSetting.job_id)%>
            <span class="title"><%= villageSetting.name %></span>
            <br><span class="job_info"><%=get_job_info(villageSetting.job_id)%></span>
						<div class="secondary-content">
							<a class="waves-effect waves-light btn-floating" onclick="minus('#<%= "job" + villageSetting.job_id.to_s %>')">
								<i class="Small material-icons">fast_rewind</i>
							</a>
							<%= text_field_tag 'villageSetting[num]'+villageSetting.job_id.to_s, villageSetting.num, class: "setting", readonly:"readonly", id:"job" + villageSetting.job_id.to_s %>人
							<a class="waves-effect waves-light btn-floating" onclick="plus('#<%= "job" + villageSetting.job_id.to_s %>')">
								<i class="Small material-icons">fast_forward</i>
							</a>
						</div>
					</li>
					<% end %>
					<% end %>
				</ul>
			</div>

    </li>
  </ul>
	<div id="button" style="text-align: center;">
		<%= render "button" ,f:f %>
	</div>
  <%= render "watch" %>
  <% end %>
<script type="text/javascript">
$('#watch').modal('open');
$('#watch').modal('close');
	$(function () {
		change_button('<%= current_user.action_type %>')
		App.room.in_out('<%= @village.id %>');
    $('.modal').modal();
	});

	function plus(id) {
		$(id).val(parseInt($(id).val()) + 1);
		calc();
	}
	function minus(id) {
		$(id).val(parseInt($(id).val()) - 1);
		calc();
	}

	function calc() {

		var total = parseInt($("#count").html());
		$("#job2").val(total <% @village_settings.each do |villageSetting| %>
		<% if villageSetting.job_id != 2 %> - parseInt($("#<%= "job" + villageSetting.job_id.to_s %>").val())<% end %>
		<% end %>)
		//$("#villager").val(total - parseInt($("#werewolf").val()) - parseInt($("#fortuneteller").val()) - parseInt($("#knight").val()) - parseInt($("#priest").val()) - parseInt($("#madman").val()));
	}
	function reload(village_id, user_id) {
		if (<%= current_user.id %> != user_id) {
			$('#reload').click();
		}
	}

	function reading(user_id, user_name, job) {
		if (job == '1') {
			alert(user_name + "さんは人狼です。");
		} else {
			alert(user_name + "さんは人間です。");
		}
    disabled()
	}

  function disabled(){
    $('.secondary-content.btn').addClass('disabled');
  }

  function change_button(action_type) {
    if(action_type == 'no_Game') {
      $('#start_button').css('display', 'inline');
      $('#vote_button').css('display', 'none');
      $('#wait_message').css('display', 'none');
    } else if (action_type == 'day'){
      $('#start_button').css('display', 'none');
      $('#vote_button').css('display', 'inline');
      $('#wait_message').css('display', 'none');
    } else if (action_type == 'wait'){
      $('#start_button').css('display', 'none');
      $('#vote_button').css('display', 'none');
      $('#wait_message').css('display', 'inline');
    } else {
      $('#start_button').css('display', 'none');
      $('#vote_button').css('display', 'none');
      $('#wait_message').css('display', 'none');
    }
	}

  function aim(tweet) {
    Materialize.toast(tweet, 2000);
    //Materialize.toast(user_name + ':' + target +'を殺ろう!', 2000)
  }
</script>
