<!-- Static navbar -->

<nav>
  <div class="nav-wrapper container">
    <% if signed_in? && current_user.village_id %>
      <%= link_to @village.name, reload_villages_path(village_id:@village.id),class:"brand-logo", remote: true,id:"reload"%>
    <% end %>
    <a href="#" data-activates="mobile-demo" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>

    <ul class="right hide-on-med-and-down">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <% if signed_in? %>
      <% if current_user.village_id%>
      <li><%= link_to "ゲーム終了", stop_village_games_path(@village, village_id:current_user.village_id),remote: true%></li>
      <li><%= link_to "リロード", reload_villages_path(village_id:@village.id), remote: true,id:"reload"%>
      <li>
      <li><%= link_to "退出", search_villages_path %></li>
      <% end %>
      <!-- <li><%= link_to "Profile", current_user %></li> -->
      <li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <% if signed_in? %>
      <% if current_user.village_id %>
      <li><%= link_to "ゲーム終了", stop_village_games_path(@village, village_id:current_user.village_id),remote: true%></li>
      <li><%= link_to "リロード", reload_villages_path(village_id:@village.id), remote: true,id:"reload"%>
      <li>
      <li><%= link_to "退出", search_villages_path %></li>
      <% end %>
      <!-- <li><%= link_to "Profile", current_user %></li> -->
      <li class="divider"></li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
